language: c
before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- "./travis-tool.sh bootstrap"
install:
- "./travis-tool.sh install_deps"
- "./travis-tool.sh install_r stringr microbenchmark knitr testthat"
- "./travis-tool.sh install_github robertzk/director jimhester/covr"
script: "./travis-tool.sh run_tests"
after_failure:
- "./travis-tool.sh dump_logs"
after_success:
- Rscript -e 'library(covr);coveralls()'
notifications:
  email:
    on_success: change
    on_failure: change
  hipchat:
    rooms:
      secure: mki16mbQjFg2XgsDjBMxTRFbo4hDQ3nz3XvAwtRsMajaTQbus701J45+zcNgTIveGzsMny2iFeqiTrAgiYxLgI2oxZs86TlKMuqvLob4Fl8v5z5d68B4ksM2kBC9WOVIGTo2xeUqnvdeUTemzE9As15TwQkVDt4RAmeYMaE4MUA=
    on_success: change
    on_failure: change
    template:
    - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}
      | Details: %{build_url} | Changes: %{compare_url}"
env:
- global:
  - WARNINGS_ARE_ERRORS=1
  - _R_CHECK_FORCE_SUGGESTS_=0
